.body {
    background-image: url(../../img/background_netflix_large.jpg);
    width: 100%;
    height: 45em;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

@mixin reset-input-button($bg-color, $hover-bg-color) {
    padding: 0.8em;
    border-radius: 0.7em;
    border: 1px solid white;
    background: $bg-color;
    transition: all 1s;
    &:hover {
        background: $hover-bg-color;
    }
}

.register-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    min-height: 80vh;
    max-width: 60vw;
    background-color: black;
    opacity: 80%;
    
    button {
        @include reset-input-button(#E50914, #E50914);
        cursor: pointer;
        width: 25em;
    }
     ::placeholder {
        color: black;
    }
}

.inputreg {
    width: 25em;
    @include reset-input-button(white, grey);
}